@import url(./reset.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap);

$primary: #0D3273;
$secondary: #092657;
$text: #FFFFFF;
$text-secondary: #939393;
$accent: #CEA600;


/**
 * General Styling
 */
body {
    background: #f9fcff;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

/**
 * Text Styling
 */
 @mixin text-styling($color, $font-size, $font-weight) {
    color: $color;
    font-family: Inter;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
}

.text-header {
    @include text-styling($text, 1rem, 600);
    text-align: center;
    text-transform: uppercase
}

.text-footer-title {
    @include text-styling($text, 10px, 800);
}

.text-footer {
    @include text-styling($text, 10px, 400);
}

.text-title {
    @include text-styling($primary, 2.25rem, 700);
}

.text-card-title {
    @include text-styling($text-secondary, 1.5rem, 500);
}

.text-card-count {
    @include text-styling($primary, 3.3125rem, 700);
}

/**
 * Header Styling
 */
header {
    width: 100vw;
    height: 9.5vh;
    flex-shrink: 0;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10.12rem;
    padding-right: 10.12rem;

    ul {
        display: inherit;
        align-items: center;
        justify-content: space-between;
        width: 18vw;
    }

    .v-div {
        width: 0.125rem;
        height: 1.6875rem;
        flex-shrink: 0;
        background-color: $text;
    }

    .user-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #selected {
        position: absolute;
        border-radius: 1rem;
        background: $accent;
        width: 6.3125rem;
        height: 0.1875rem;
        // TODO: Fix the position of the selected bar to selected page
        top: 3.6rem;
        left: 10.12rem;
    }

    a:hover {
        color: $accent;
    }

}

/**
 * Footer Styling
 */
footer {
    height: 8vh;
    width: 100vw;
    background: $secondary;

    .footer-content {
        margin-left: 10.12rem;
        display: flex;
        width: 50vw;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 0.8vh;
        gap: 2vw;
       
        a{
            text-decoration: underline;
        }
        
        a:hover {
            color: $accent;
        }

        div {
            display: flex;
            min-width: 8vw;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
            flex-shrink: 0;

            >p {
                max-width: 10vw;
            }

            article {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        .v-div {
            min-width: 1px;
            height: 53px;
            background: #FEFEFE;
        }
    }
}

/**
 * Dashboard Styling
 */
#dashboard {
    padding-left: 10.12rem;
    padding-right: 10.12rem;
    padding-top: 4rem;
    display: inline-flex;
    align-items: flex-start;
    gap: 3.6vw;
    height: 82.5vh;

    .card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .small-cards {
            width: 50vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

    }

    @mixin card-styling($width, $height) {
        width: $width;
        height: $height;
        // border-radius: 2.375rem;
        border: 1px solid #E5E5E5;
        background: $text;
        box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
    }
    
    .dashboard-card {
        width: 24vw;
        height: 62vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $primary;

        h1, p {
            color: $text;
        }
    
        .dashboard-card-header {
            width: 100%;
            padding: 2rem;
            display: inline-flex;
            height: 7.5rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            flex-shrink: 0;
        }

        .dashboard-card-accent {
            width: 24vw;
            height: 62vh;
            background: #c9269b;
            position: absolute;
            margin-left: 4rem;
            margin-top: 2rem;
            z-index: -1;
            box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
        }
    }
    
    .small-card {
        @include card-styling(10vw, 24vh);
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .small-card-content {
            display: inline-flex;
            height: 9.125rem;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
        }
    }  

    .small-card:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: rgba(149, 157, 165, 0.15) 0px 13px 24px;
        transition: background-color 500ms linear;
    }

    .small-card:active {
        transform: scale(1) translateZ(0);
        box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
    }

    .large-cards {
        display: flex;
        width: 36.7vw;
        justify-content: space-between;
        align-items: center;

        .large-card {
            @include card-styling(17vw, 40vh);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;

            h1 {
                text-align: center;
                color: $primary;
            }

        }

        .large-card:hover {
            transform: translateY(-5px) scale(1.005) translateZ(0);
            box-shadow: rgba(149, 157, 165, 0.15) 0px 13px 24px;
            transition: background-color 500ms linear;
        }
    
        .large-card:active {
            transform: scale(1) translateZ(0);
            box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
        }

    }

}

/* -------------------------------------- */
/* 
  FAQ styling 
*/

#FAQ {
  width: 100%;
  height: 100%;
  margin: 2rem 0 2rem 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @mixin faq-text-styling($color) {
    color: $color;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  h1 {
    color: #092657;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .question-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      @include faq-text-styling(#000);
    }

    .question {
      display: flex;
      width: 75vw;
      height: 100px;
      padding: 30px 50px;
      align-items: center;
      justify-content: space-between;
      background: #FFF;
    }

    .closed {
      border-radius: 50px;
      border: 1px solid #000;
    }

    .opened {
      border-radius: 50px 50px 0px 0px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
      background: #FFF;
    }

    .answer {
      display: flex;
      width: 75vw;
      height: 100px;
      padding: 30px 50px;
      align-items: center;
      border-radius: 0px 0px 50px 50px;
      border: 1px solid #000;
      background: #0D3273;

      p {
        @include faq-text-styling(#FEFEFE);
      }
    }
  }
}
  
/* -------------------------------------- */
/*
  Archive styling
*/

#archive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Archive nav */
  #archive-views {
    padding: 2rem 2rem 2rem 5rem;
    display: flex;
    align-items: center;
    gap: 20%;
    background: #FFF;

    h1 {
      @include text-styling(#0D3273, 36px, 700);
    }

    h2 {
      @include text-styling(#000, 21px, 500);
    }

    .selected {
      text-decoration: underline;
    }
  }

  #archive-main-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
  }

  /* Archive ticket boxes */
  #archive-ticket-boxes {
    margin: 0 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2rem; 
  }
}

/* -------------------------------------- */
/*
  Issues styling
*/
#issues {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  #issues-side-bar {
    height: 100%;
    padding: 3rem;
    display: flex;
    background-color: #FFF;

    h1 {
      @include text-styling(#0D3273, 36px, 700);
    }
  }

  #issues-main {
    width: 100%;
    display: flex;
    flex-direction: column;

    #issues-main-content {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-self: center;
      gap: 2rem;

      /* Issues ticket boxes */
      #issues-ticket-boxes {
        margin: 0 5rem 0 5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 2rem; 
      }
    }
  }
}

/* -------------------------------------- */
/*
  SearchBar styling
*/
.search-bar {
  margin-left: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;

  input {
    @include text-styling(#000, 1rem, 500);
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 25px;
    background: #FFF;
  }
}

/* -------------------------------------- */
/*
  TicketBox styling
*/
.ticket-outer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  background: #FFF;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  
  .ticket-name {
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 50px 0 0 50px;
    background-color: rgb(20, 95, 183);
    
    h2 {
      @include text-styling(#FFF, 21px, 500);
    }
  }

  .ticket-inner-box {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    align-items: center;

    h3 {
      @include text-styling(#0D3273, 21px, 300);
    }

    p {
      @include text-styling(#000, 21px, 500);
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }

    .feedback {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      overflow-wrap: break-word;
    }
  }
}


/* -------------------------------------- */
/*
  PageBar styling
*/

.pagebar-nav {
  height: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  align-content: flex-end;
  gap: 1rem;

  p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

  /* -------------------------------------- */
/* 
  Login styling 
*/

#login-card {
  width: 49rem;
  height: 28em;
  flex-shrink: 0;
  border-radius: 2.375rem;
  border: 1px solid #E5E5E5;
  background: radial-gradient(104.85% 136.88% at 6.53% 100%, #FEFEFE 0%, #FBFBFB 100%);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
}

.login-form {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.login-form form {
  margin-bottom: 20px;
}

.login-form input, .login-form button {
  display: block;
  margin: 10px auto;
  width: 200px;
}

.login-form a {
  display: block;
  margin: 10px auto;
}

.username-form-group {
  padding-top: 3.12rem;
  margin-left: -25rem;
}

.password-form-group {
  padding-top: 1.88rem;
  margin-left: -25rem;
}

#username, #password {
  color: var(--Primary, #0D3273);
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 525;
  line-height: normal;
}

.username-input, .password-input {
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid #E5E5E5;
  background: #F5F5F5;
  box-shadow: 0px 1px 24px 0px rgba(149, 157, 165, 0.20) inset;
}

input[type="text"] {
  margin-left: 22rem;
  width: 30rem;
  padding-left: 0.8rem;
  font-family: Inter;
  font-size: 1rem;
}

input[type="password"] {
  margin-left: 22rem;
  width: 30rem;
  padding-left: 0.8rem;
}


#forgotten-details {
  color: var(--Secondary-Text, #939393);
  text-align: center;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin-top: -2rem;
}

#get-help {
  color: var(--Primary, #0D3273);
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 0.4rem;
}

#login-button {
  padding-top: 1rem;
}

#login-button-text {
  width: 11.0625rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 2.375rem;
  border: 1px solid #E5E5E5;
  background: var(--Primary, #0D3273);
  box-shadow: 0px 5px 4px 0px #092657 inset;
  color: var(--Title-Text, #FEFEFE);
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* -------------------------------------- */
/* 
  Submit EC styling 
*/

#submit-ec-card {
  width: 49rem;
  height: 48em;
  flex-shrink: 0;
  border-radius: 2.375rem;
  border: 1px solid #E5E5E5;
  background: radial-gradient(104.85% 136.88% at 6.53% 100%, #FEFEFE 0%, #FBFBFB 100%);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);  
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.label-text {
  color: var(--Primary, #0D3273);
  /* Card Title */
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 1.2rem;
}

#ec-options {
  display: flex;
}

#standard-ec, #urgent-ec {
  padding-left: 1.2rem;
  padding-top: 1.68rem;
}

.ec-form-dropdown {
  padding-left: 1.2rem;
  padding-top: 0.24rem;
}

#ec-reason {
  height: 2rem;
}

#summary {
 display: 'flex';
 flex-direction: 'column';
}

#summary-text-box {
  margin-top: 0.24rem;
  margin-left: -20.8rem;
}

#ec-summary-box {
  width: 46rem;
  height: 7rem;
}


#affected-assessments, #ec-reason{
  width: 46rem;
}

.affected-checkbox{
  padding-left: 1.2rem;
  padding-top: 0.24rem;
}

#file-attachment-box {
  padding-top: 0.24rem;
  padding-left: 1.2rem;
}


#submit-form {
  text-align: center;
  padding-top: 2rem;
}

.submit-button {
  border-radius: 2.375rem;
  border: 1px solid #E5E5E5;
  background: var(--Primary, #0D3273);
  box-shadow: 0px 5px 4px 0px #092657 inset;
  color: white;
  width: 10rem;
  height: 1.8em;
  flex-shrink: 0;
  color: var(--Title-Text, #FEFEFE);
  text-align: center;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

input[type="checkbox"], input[type="text"], select{
  border-radius: 0.75rem;
  border: 1px solid #E5E5E5;
  background: #F5F5F5;
  box-shadow: 0px 1px 24px 0px rgba(149, 157, 165, 0.20) inset; 
  font-family: Inter;
}

.assessments-inner-container {
  background: #F5F5F5;
}



input[type="file"] {
  display: none;
}


.file-upload {
  border-radius: 0.75rem;
  border: 1px solid #E5E5E5;
  background: #F5F5F5;
  box-shadow: 0px 1px 24px 0px rgba(149, 157, 165, 0.20) inset;
  cursor: pointer;
  color: var(--Secondary-Text, #939393);
  font-family: Inter;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin-left: 1.2rem;
  padding: 0.7rem;
}


#input-file {
  padding-top: 1.2rem;
}


#affected-modules, #affected-assessments {
  padding-top: 1rem;
  font-family: Inter;
}

#affected-assessments {
  max-height: 200px;
  overflow-y: 'auto'
  
}

.assessments-outer-container {
  width: 100%; 
  height: 8rem; 
  overflow: hidden; 
  padding-left: 1.2rem;
}

.assessments-inner-container {
  width: 100%;
  height: 100%; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
}

