@import url(./reset.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap);
/**
 * General Styling
 */
body {
  background: #f9fcff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/**
 * Text Styling
 */
.text-header {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.text-footer-title {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text-footer {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-title {
  color: #0D3273;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-card-title {
  color: #939393;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-card-count {
  color: #0D3273;
  font-family: Inter;
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/**
 * Header Styling
 */
header {
  width: 100vw;
  height: 9.5vh;
  flex-shrink: 0;
  background-color: #0D3273;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10.12rem;
  padding-right: 10.12rem;
}
header ul {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  width: 18vw;
}
header .v-div {
  width: 0.125rem;
  height: 1.6875rem;
  flex-shrink: 0;
  background-color: #FFFFFF;
}
header .user-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header #selected {
  position: absolute;
  border-radius: 1rem;
  background: #CEA600;
  width: 6.3125rem;
  height: 0.1875rem;
  top: 3.6rem;
  left: 10.12rem;
}
header a:hover {
  color: #CEA600;
}

/**
 * Footer Styling
 */
footer {
  height: 8vh;
  width: 100vw;
  background: #092657;
}
footer .footer-content {
  margin-left: 10.12rem;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0.8vh;
  gap: 2vw;
}
footer .footer-content a {
  text-decoration: underline;
}
footer .footer-content a:hover {
  color: #CEA600;
}
footer .footer-content div {
  display: flex;
  min-width: 8vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex-shrink: 0;
}
footer .footer-content div > p {
  max-width: 10vw;
}
footer .footer-content div article {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .footer-content .v-div {
  min-width: 1px;
  height: 53px;
  background: #FEFEFE;
}

/**
 * Dashboard Styling
 */
#dashboard {
  padding-left: 10.12rem;
  padding-right: 10.12rem;
  padding-top: 4rem;
  display: inline-flex;
  align-items: flex-start;
  gap: 3.6vw;
  height: 82.5vh;
}
#dashboard .card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
#dashboard .card-wrapper .small-cards {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#dashboard .dashboard-card {
  width: 24vw;
  height: 62vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0D3273;
}
#dashboard .dashboard-card h1, #dashboard .dashboard-card p {
  color: #FFFFFF;
}
#dashboard .dashboard-card .dashboard-card-header {
  width: 100%;
  padding: 2rem;
  display: inline-flex;
  height: 7.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  flex-shrink: 0;
}
#dashboard .dashboard-card .dashboard-card-accent {
  width: 24vw;
  height: 60vh;
  background: #c9269b;
  position: absolute;
  left: 10vw;
  top: 22.1vh;
  z-index: -1;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
}
#dashboard .small-card {
  width: 10vw;
  height: 24vh;
  border: 1px solid #E5E5E5;
  background: radial-gradient(104.85% 136.88% at 6.53% 100%, #FEFEFE 0%, #FBFBFB 100%);
  box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dashboard .small-card .small-card-content {
  display: inline-flex;
  height: 9.125rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
#dashboard .small-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: rgba(149, 157, 165, 0.15) 0px 13px 24px;
  transition: background-color 500ms linear;
}
#dashboard .small-card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
}
#dashboard .large-cards {
  display: flex;
  width: 36.7vw;
  justify-content: space-between;
  align-items: center;
}
#dashboard .large-cards .large-card {
  width: 17vw;
  height: 40vh;
  border: 1px solid #E5E5E5;
  background: radial-gradient(104.85% 136.88% at 6.53% 100%, #FEFEFE 0%, #FBFBFB 100%);
  box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
  border: 1px solid #E5E5E5;
  background: radial-gradient(104.85% 136.88% at 6.53% 100%, #FEFEFE 0%, #FBFBFB 100%);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
#dashboard .large-cards .large-card h1 {
  text-align: center;
  color: #0D3273;
}
#dashboard .large-cards .large-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: rgba(149, 157, 165, 0.15) 0px 13px 24px;
  transition: background-color 500ms linear;
}
#dashboard .large-cards .large-card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
}/*# sourceMappingURL=style.css.map */