@import url(./reset.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap);

$primary: #0D3273;
$text: #FFFFFF;
$text-secondary: #939393;
$accent: #CEA600;


/**
 * General Styling
 */
body {
    background: #F5F5F5;
}

.text-header {
    color: $text;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.text-title {
    color: $primary;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-card-title {
    color: $text-secondary;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/**
 * Header Styling
 */
header {
    width: 100vw;
    height: 5.3125rem;
    flex-shrink: 0;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10.12rem;
    padding-right: 10.12rem;

    ul {
        display: inherit;
        align-items: center;
        justify-content: space-between;
        width: 18vw;
    }

    .v-div {
        width: 0.125rem;
        height: 1.6875rem;
        flex-shrink: 0;
        background-color: $text;
    }

    .user-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #selected {
        position: absolute;
        border-radius: 1rem;
        background: $accent;
        width: 6.3125rem;
        height: 0.1875rem;
        // TODO: Fix the position of the selected bar to selected page
        top: 3.6rem;
        left: 10.12rem;
    }

    a:hover {
        color: $accent;
    }

}

/**
 * Dashboard Styling
 */
#dashboard {
    padding-left: 10.12rem;
    padding-right: 10.12rem;
    padding-top: 4rem;

    .dashboard-card {
        width: 22.5rem;
        height: 37.3125rem;
        flex-shrink: 0;
        border-radius: 2.375rem;
        border: 1px solid #E5E5E5;
        background: radial-gradient(104.85% 136.88% at 6.53% 100%, #FEFEFE 0%, #FBFBFB 100%);
        box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);

        display: flex;
        flex-direction: column;
        align-items: center;

        .dashboard-card-header {
            width: 100%;
            padding: 2rem;
            display: inline-flex;
            height: 7.5rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            flex-shrink: 0;
        }

    }

}